httpsServer:
    replicasCount: 1
    image:
        repository: ring0exec/cloud-vector-https-server
        tag: 5333d1b8c576e27625f3149cfccc952480e72584
        pullPolicy: Always
        pullSecret: regcred
    ports:
        name: http
        port: 3005
        containerPort: 3005
    resources:
        requests:
            cpu: "50m"
            memory: "128Mi"
        limits:
            cpu: "500m"
            memory: "1Gi"
    autoscaling:
        enabled: true
        minReplicas: 1
        maxReplicas: 2
        targetCPUUtilizationPercentage: 90
        targetMemoryUtilizationPercentage: 90