controlPlane:
    replicasCount: 1
    image:
        repository: ring0exec/cloud-vector-control-plane
        tag: d299967a1ec93ddb6174a84e0f2b81036bf9cf21
        pullPolicy: Always
        pullSecret: regcred
    ports:
        name: http
        port: 3010
        containerPort: 3010
    resources:
        requests:
            cpu: "50m"
            memory: "128Mi"
        limits:
            cpu: "500m"
            memory: "1Gi"
    autoscaling:
        enabled: true
        minReplicas: 1
        maxReplicas: 2
        targetCPUUtilizationPercentage: 90
        targetMemoryUtilizationPercentage: 90