infraProvisioner:
    replicasCount: 1
    image:
        repository: ring0exec/cloud-vector-infra-provisioner
        tag: d3bacde85b74923e467c7f21df18d4a4df4012b6
        pullPolicy: Always
        pullSecret: regcred
    ports:
        name: http
        port: 3015
        containerPort: 3015
    resources:
        requests:
            cpu: "50m"
            memory: "256Mi"
        limits:
            cpu: "500m"
            memory: "1Gi"
    autoscaling:
        enabled: true
        minReplicas: 1
        maxReplicas: 2
        targetCPUUtilizationPercentage: 90
        targetMemoryUtilizationPercentage: 90
