infraProvisioner:
    replicasCount: 1
    image:
        repository: ring0exec/cloud-vector-infra-provisioner
        tag: 3d6ca4aaa9c9a0316e93b2377b1d74e5c9413376
        pullPolicy: Always
        pullSecret: regcred
    ports:
        name: http
        port: 3015
        containerPort: 3015
    resources:
        requests:
            cpu: "50m"
            memory: "256Mi"
        limits:
            cpu: "500m"
            memory: "1Gi"
    autoscaling:
        enabled: true
        minReplicas: 1
        maxReplicas: 2
        targetCPUUtilizationPercentage: 90
        targetMemoryUtilizationPercentage: 90
