postgresProtocolGateway:
    namespace: tcp-gateway
    replicasCount: 1
    image:
        repository: ring0exec/cloud-vector-postgres-protocol-gateway
        tag: f6b84df6526aa44a3ee4d11bfa722efe9b5e9744
        pullPolicy: Always
        pullSecret: regcred
    ports:
      - name: postgresql
        port: 5432
        containerPort: 5432
      - name: http
        port: 9000
        containerPort: 9000
    resources:
        requests:
            cpu: "50m"
            memory: "128Mi"
        limits:
            cpu: "500m"
            memory: "1Gi"
    autoscaling:
        enabled: true
        minReplicas: 1
        maxReplicas: 2
        targetCPUUtilizationPercentage: 80
        targetMemoryUtilizationPercentage: 80